@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
#transfer {
  margin: auto;
  padding: auto;
  height: auto;
}

#transfer  .container {
  width: 30%;
  padding-bottom: 5rem;
}

input, select, textarea {
  margin-bottom: 1.25rem;
}


.status {
  float: right;
  padding: 10px;
  padding-right: 5rem;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.title {
  font-family: monospace;
  font-size: 1.75rem;
  letter-spacing: 2px;
  font-weight: bold;
  padding: 5rem 0 1rem 0;
}

option {
  color: #758393;
}
