@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap');
#about-us {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2 0.95 1 0.95rem;
}



#about-us > p {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1rem;
    letter-spacing: 0.1px;
    overflow-wrap: break-word;
    width: 56%;
    padding-top: 0.22rem;

}